@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,700&family=KoHo&family=Mali&family=Oswald&family=Sriracha&display=swap");
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: medium;
  font-weight: 600;
  color: #000000;
  margin: 0;
  padding: 10px;
  width: auto;
  height: min-content;
  background-image: url("../img/bg-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body ::selection {
  color: azure;
  background-color: rgb(83, 62, 201);
}

section {
  display: grid;
  text-align: center;
  place-items: center;
}
section #form {
  position: relative;
  top: 13%;
  background: rgba(255, 255, 255, 0.942);
  width: 420px;
  height: 490px;
  border: rgba(221, 221, 221, 0.9176470588) solid 2.3px;
  border-radius: 30px;
  box-shadow: 1px 18px 227px 99px rgba(41, 41, 41, 0.83);
  -webkit-box-shadow: 1px 18px 227px 99px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 1px 18px 227px 99px rgba(0, 0, 0, 0.83);
}
section #form .form-container {
  display: grid;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
}
section #form .form-container header h2 {
  cursor: default;
  font-size: 40px;
  margin-bottom: 1.83rem;
}
section #form .form-container label {
  color: #161616;
  font-size: 21px;
  margin: 6px;
  text-align: left;
  margin: 12px 0 3px 0;
}
section #form .form-container label .fa-icon {
  color: #363636;
  font-size: 20px;
}
section #form .form-container #show .eye {
  color: #363636;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;
  top: 79%;
  left: 44%;
}
section #form .form-container input[required],
section #form .form-container [placeholder] {
  background: none;
  border: none;
  outline: none;
  border-bottom: solid rgb(105, 105, 105) 2.3px;
  width: 19rem;
  height: 2.2rem;
  font-size: 17px;
}
section #form .form-container input[required]::placeholder,
section #form .form-container [placeholder]::placeholder {
  color: rgb(119, 118, 116);
  padding: 6px;
  font-size: 16px;
}
section #form .form-container input[required]:focus,
section #form .form-container [placeholder]:focus {
  transition: all 0.92s;
  border-bottom: solid rgb(91, 1, 133) 2.3px;
}
section #form .form-container input[required]:valid,
section #form .form-container [placeholder]:valid {
  border-bottom: solid #00cc00 2.3px;
  transition: all 0.6s;
}
section #form .form-container .form-below {
  display: flex;
  justify-content: space-between;
}
section #form .form-container .form-below a:link {
  margin-top: 4px;
  margin-bottom: 0px;
  color: rgb(67, 67, 255);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 13px;
}
section #form .form-container .form-below a:visited {
  color: rgb(91, 1, 133);
}
section #form .form-container .btn-group #btn-submit,
section #form .form-container .btn-group #btn-cancel {
  text-transform: capitalize;
  margin: 4px 12px 0 12px;
  transition: all 0.64s;
}
section #form .form-container .btn-group #btn-submit:active,
section #form .form-container .btn-group #btn-cancel:active {
  text-transform: capitalize;
  transform: scale(0.65);
}
section #form .form-container .btn-group #btn-submit {
  cursor: pointer;
  width: 122px;
  height: 39px;
  font-size: medium;
  font-weight: 550;
  color: #161616;
  border: none;
  border-radius: 4px;
  background: linear-gradient(78deg, rgb(176, 207, 243), rgb(76, 137, 194), rgb(49, 120, 212));
}
section #form .form-container .btn-group #btn-submit:hover {
  color: rgb(255, 255, 255);
  background: linear-gradient(78deg, rgb(123, 145, 170), rgb(56, 100, 141), rgb(39, 97, 172));
}
section #form .form-container .btn-group #btn-cancel {
  cursor: pointer;
  width: 122px;
  height: 39px;
  font-size: medium;
  font-weight: 550;
  color: #161616;
  border: none;
  border-radius: 4px;
  background: linear-gradient(78deg, rgb(241, 200, 197), rgb(238, 93, 82), rgb(241, 50, 36));
}
section #form .form-container .btn-group #btn-cancel:hover {
  color: rgb(255, 255, 255);
  background: linear-gradient(78deg, rgb(185, 154, 152), rgb(185, 72, 64), rgb(199, 42, 31));
}
section #form .form-container .btn-group hr {
  padding: 0;
  margin-bottom: 0;
  margin-top: 1.8rem;
  width: 16rem;
}
section #form .form-container .btn-group ul {
  margin-top: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  transform: translateY(11%);
}
section #form .form-container .btn-group ul li {
  font-size: 32px;
  margin: 6px 8px;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
