@use "_style.scss";

section {
    position: relative;
    top: 11vh;
    text-align: center;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 650px;
        height: 310px;
        background-color: #fff;
        padding: 29px;
        background-color: #ffff;
        border: #ddddddea solid 2.3px;
        border-radius: 30px;
        box-shadow: 1px 18px 227px 99px rgba(0, 0, 0, 0.83);
        -webkit-box-shadow: 1px 18px 227px 99px rgba(0, 0, 0, 0.83);
        -moz-box-shadow: 1px 18px 227px 99px rgba(0, 0, 0, 0.83);
        form {
            div{
                h1{
                    font-size: 30px;
                }
            }
            p {
                padding: 5px;
                font-weight: 500;
                font-size: 18px;
            }
            label {
                h2 {
                    padding: 4px;
                    margin: 29px 0 36px 0;
                    input {
                        font-size: medium;
                        width: 19rem;
                        height: 2.1rem;
                        outline: none;
                        &::placeholder {
                            text-indent: 8px;
                            font-size: medium;
                        }
                    }
                }
            }
            button {
                background: rgba(12, 12, 12, 0.877);
                color: white;
                border: none;
                border-radius: 23px;
                user-select: none;
                cursor: pointer;
                width: 9.4rem;
                height: 3rem;
                font-size: 19px;
                
            }
        }
    }
}
